<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParExisting Account">



    <test name="Login">
        <classes>
            <class name="Tests.Login"></class>

        </classes>

    </test>

    <test name="Parent's / Kid's device">
        <classes>
            <class name="Tests.ParentKid"></class>

        </classes>

    </test>

    <test name="Android - Parent's Tour - Existent user">
        <classes>
            <class name="Tests.AndroidTour"></class>

        </classes>

    </test>

</suite>